storm_platform
storm_backend/tests/*
data/*
!data
storm_frontend/*/
!storm_frontend/rust
storm_frontend/rust/src/bridge.rs
!storm_frontend/lib
storm_frontend/lib/bridge.dart

target
./**/target
*.swp
*swp
